@CHARSET "UTF-8";

/* 네비게이션 바 */
#header {width: 1000px; padding:0px;}
.navbar-brand {padding-top: 10px; padding-right: 30px;}
.navbar-default {background-color: white;}
#menu li {border-left: 1px solid #EAEAEA; width: 112px; height: 49px; text-align: center;}
#liLogin {border-right: 1px solid #EAEAEA; width: 158px !important;}
#menu li a {font-weight: bold;}
/* 상세페이지 */
#detail {width: 1000px; height:2500px; border: 1px solid #EAEAEA; margin-top: 100px; margin-bottom: 50px; box-shadow: 2px 2px 20px gray; padding: 70px 40px 70px 40px;}
.left_wrap {display: inline-block; width: 230px; float: left;}
.left_wrap img { width: 230px;  }
.right_wrap {display: inline-block; width: 640px; margin-left: 36px; float: right;}
.title {border-bottom: 1.5px solid #EAEAEA;}
.text {border-bottom: 1.5px solid #EAEAEA; margin-bottom: 33px;}
.summary{clear: both; padding-top: 40px;}
/* 버튼 */
input[type=submit] { width: 100px; height: 50px; background-color: #3F0099; color: white; border: none; margin-right: 15px;}
/* 폰트 */
.title h2 { color: #4C4C4C; margin-top: 10px;}
#text_small { font-size: 14px; color: #747474;}
.text p { margin: 10px 0px;}

/* 리뷰 */
#rivewInsert { margin: 0 auto; border: 1px solid #EAEAEA; height: 100px;}
.box { padding: 10px; text-align: center; height: 100%;}
.box textarea { padding: 5px 10px; height: 100%;}
.box p {}
#reviewBox { margin: 30px 0px; padding: 15px 0px;border-top: 1px solid #EAEAEA;}
#review {  border-bottom: 1px solid #EAEAEA; padding: 10px 10px;}
#review p { margin: 0; line-height: 40px;}

